<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Multiple Form Fields Upload in Multer</h1>
      <form action="/form" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file1">Upload File1:</label>
          <input type="file" name="file1" required id="" class="form-control" />
        </div>
        <div class="form-group">
          <label for="file2">Upload File2:</label>
          <input type="file" name="file2" required multiple id="" class="form-control" />
        </div>
        <div class="form-group">
          <label for="file3">Upload File3:</label>
          <input type="file" name="file3"  id="" class="form-control" />
        </div>
        <div class="form-group">
          <label for="title">Project Title</label>
          <input type="text" name="title"  id="" class="form-control" />
        </div>

        
        <div class="dropdowns">
              <label for="dropdown1">Academic Year:</label><br>
              <select id="dropdown1" name="currYear" class="select">
                <option id="options" value="none" selected disabled hidden>Select an Option</option>
                <option id="options" value="2021-2022">2021-22</option>
                <option id="options" value="2022-2023">2022-23</option>
                <option id="options" value="2023-2024">2023-24</option>
              </select>
            </div>
            <div class="dropdowns" class="select">
              <label for="dropdown2">Year</label><br>
              <select id="dropdown2" name="academic">
                <option value="none" selected disabled hidden>Select an Option</option>
                <option value="SY">Second Year</option>
                <option value="TY">Third Year</option>
                <option value="BTECH">B.TECH</option>
              </select>
            </div>
            <div class="dropdowns" class="select">
              <label for="dropdown3">Semester</label><br>
              <select id="dropdown3" name="semester">
                <option value="none" selected disabled hidden>Select an Option</option>
                <option value="SEM-I">SEM-I</option>
                <option value="SEM-II">SEM-II</option>
              </select>
            </div>

        <div class="form-group">
            <button class="btn btn-danger btn-block">
                Upload Files
            </button>
        </div>

        <br>
        <br>

        {{!-- {{#if " records.length >0 "}}
            {{#each records}}
                <img src="../public/uploads/file2Data/{{records}}" alt="" srcset="">
            {{/each}}
        {{else}}

        {{/if}} --}}
      </form>
    </div>
  </body>
</html>