<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/form/form.css">
    <link rel="stylesheet" href="css/form/form-multiselect.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title>
</head>

<body>
    <header>
        <nav>
            <a href="/home" class="logo">
                <img src="images/logo.jpg" />
            </a>
            <ul>
                <li><a href="/home">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Registration</h1>

        {{#if poster_error}}
        <div class="formheader">
            <h1>Registration</h1>
            <h2 class="alert">{{poster_error}}</h2>
                    
        </div>
        {{/if}}
        {{#if report_error}}
        <div class="formheader">
            <h1>Registration</h1>
            <h2 class="alert">{{report_error}}</h2>
                    
        </div>
        {{/if}}
        {{#if video_error}}
        <div class="formheader">
            <h1>Registration</h1>
            <h2 class="alert">{{video_error}}</h2>
                    
        </div>
        {{/if}}
        {{#if title_error}}
        <div class="formheader">
            <h1>Registration</h1>
            <h2 class="alert">{{title_error}}</h2>
                    
        </div>
        {{/if}}


        <form action="form" method="post" enctype="multipart/form-data">
            <div class="form first">
                <div class="details projects">
                    <span class="title">Project Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Project Title</label>
                            <input type="text" required placeholder="Enter project title" name="title">
                        </div>
                        <div class="input-field">
                            <label>Leader Email</label>
                            <input type="email" required placeholder="Enter email" name="email">
                        </div>

                        <div class="input-field">
                            <label>Project Objective</label>
                            <input type="text" required placeholder="Enter project objective" name="obj">
                        </div>

                        <div class="upload-flex">
                            <div class="abc">
                                <label>Project Report(Only .pdf/docx files allowed)</label>
                                <input type="file" required accept=".docx,.pdf" placeholder="Project Report" id="file"
                                    class="upload-box" name="file1">
                            </div>
                            <div class="abc">
                                <label>Project poster(.jpg/.jpeg/.png files allowed)</label>
                                <input type="file" required accept=".jpeg,.jpg,.png" placeholder="Project poster"
                                    id="file" class="upload-box" name="file2">
                            </div>
                            <div class="abc">
                                <label>Video Demo(Only .mp4/.mkv files allowed)</label>
                                <input type="file" required accept=".mp4,.mkv" placeholder="Enter project title"
                                    id="file" class="upload-box" name="file3">
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="year">Select a year:</label>
                            <select name="currYear" required id="year"></select>

                        </div>
                        <div class="input-field">
                            <label>Year</label>
                            <select name="academic" required>
                                <option value="none" selected disabled hidden>Select</option>
                                <option value="SY">SY</option>
                                <option value="TY">TY</option>
                                <option value="BTech">BTech</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Semester</label>
                            <select name="semester" required>
                                <option value="none" selected disabled hidden>Select</option>
                                <option value="SEM-I">SEM-I</option>
                                <option value="SEM-II">SEM-II</option>
                            </select>
                        </div>
                        <div class="last-line">
                            <div class="input-field">
                                <label>Project Repo Link</label>
                                <input style="width:200px" type="text" required placeholder="Enter github repo link"
                                    name="repolink">
                            </div>
                            <div>
                                <a href="#myFooter"></a>
                            </div>
                            <div class="input-field">
                                <div class="stackupload">
                                    <label for="stackupload">Technologies</label>
                                    <select name="technologies" id="technologies" multiple>
                                        <option value="HTML">HTML</option>
                                        <option value="CSS">CSS</option>
                                        <option value="Javascript">Javascript</option>
                                        <option value="Bootstrap">Bootstrap</option>
                                        <option value="ReactJS">React</option>
                                        <option value="Angular">Angular</option>
                                        <option value="Vue">Vue</option>
                                        <option value="Ruby on Rails">Ruby oon Rails</option>
                                        <option value="MERN">MERN stack</option>
                                        <option value="Express">ExpressJS</option>
                                        <option value="Arduino">Arduino</option>
                                        <option value="RaspberryPi">RaspberryPi</option>
                                        <option value="TypeScript">TypeScript</option>
                                        <option value="Node JS">Node JS</option>
                                        <option value="Django">Django</option>
                                        <option value="Android_in_JAVA">Android_in_JAVA</option>
                                        <option value="Android_in_Kotlin">Android_in_Kotlin</option>
                                        <option value="Tailwind CSS">Tailwind_CSS</option>
                                        <option value="Flutter">Flutter</option>
                                        <option value="Dart">Dart</option>
                                        <option value="IoT">IoT</option>
                                        <option value="Python">Python</option>
                                        <option value="React Native">React Native</option>
                                        <option value="Java">Java</option>
                                        <option value="C++">C++</option>
                                        <option value="C">C</option>
                                        <option value="C#">C#</option>
                                        <option value="PHP">PHP</option>
                                        <option value="Docker">Docker</option>
                                        <option value="Kubernetes">Kubernetes</option>
                                        <option value="Cloud">Cloud</option>
                                        <option value="Machine Learning">Machine Learning</option>
                                        <option value="Deep Learning">Deep Learning</option>
                                        <option value="Linux/OSS">Linux/OSS</option>
                                        <option value="Algorithm">Algorithm</option>
                                        <option value="Parallel">Parallel Algorithms</option>
                                        <option value="Networking">Networking</option>
                                        <option value="Databases">Databases</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                          
                            </div>
                        </div>
                    </div>
                </div>

                <button class="submit" type="submit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>

    </div>
    </form>
    </div>

    <script>
        const currentYear = new Date().getFullYear();
        const select = document.getElementById("year");

        for (let year = currentYear; year >= currentYear - 4; year--) {
            const option = document.createElement("option");
            option.value = year;
            option.text = year;
            select.appendChild(option);
        }
    </script>
    <script src="javascripts/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('technologies')  // id
    </script>
</body>

</html>