/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    /* border: 0.1rem solid red; */
}
body{
    min-height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background: rgb(129, 223, 211);
    overflow-y: hidden;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(99,179,152);
  }
  ul{
    width: auto;
    float: right;
    margin-top: 8px;
  }
  li{
    display: inline-block;
    padding: 15px 30px;
  }
  a{
    text-align: centr;
    color: #ffffff;
    text-decoration: none;
  }
  a:hover{
    color: #F0c330;
    transition: 0.5s;
  }
  nav img{
    display: inline-block;
    max-height:7.5rem;
    width:auto;
    margin: -1.25rem;
  }
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 40px 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    align-items: center;
    margin-left: 20%;
    justify-content: center;
}
.container h1{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container h1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: rgb(129, 223, 211);
}
.stackupload{
    position: fixed;
    display: flex;
    flex-direction: row;
    /* margin-left: 20%; */
    /* justify-content: center; */
    align-items: center;
    margin-top: 0.5rem;
    left: 40%;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 6px 0;
    background-color: rgb(99,179,152);
    transition: all 0.3s linear;
    cursor: pointer;
}

.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
.last-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.container .submit{
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-inline: auto;
}
form button:hover{
    background-color: rgb(117, 246, 203);
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

.upload-flex{
    display: flex;
    /* margin-left: 40px; */
}
.abc label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e; 
}
.flex > label{
    flex: 1;
}
.upload-box{
    font-size:13px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    width: 200px;
    height: 33px;
    outline: none ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}
::-webkit-file-upload-button{
    color: white;
    background: rgb(99,179,152);
    padding: 9px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 0 1px 1px rgb(99,179,152);
    outline: none;
  }
  ::-webkit-file-upload-button:hover{
    background-color: rgb(99,179,152);
  }
/* --------------- */
.flexwrap{
    align-items: center;
  }
  .flexwrap h4{
   margin-left: 30%;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 1rem;
  }
  .flexwrap .add{
    float: right;
  }
  .add{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .step-two .member-info{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow: auto;
  }
  .leader-info{
    display: flex;
  }
  
  .main .container form .step-two input{
  
    width: 100%;
    height: 13%;
    border-radius: .2vw;
    border: .1vw solid gray;
    padding: 2%;
    outline: none;
    margin-bottom: 3%;
    font-size: 1.2vw;
    margin-right: 1rem;
  
  }
  .flex{
    display: flex;
    gap: 1.5em;
  }
  .delete{
    text-decoration: none;
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    width: 50px;
    height: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .drop{
    display: flex;
  }

  /* ------------------------- */
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}